body { margin:0px; padding:20px; padding-top:0px; width:700px;
       font-family:verdana,arial,sans-serif; font-size:medium; }
h1   { margin:0; margin-top:5px; margin-bottom:10px; font-size:30px;  }
 
