table, p      { padding:10px 0; padding-right:10px; background-color:gold; 
                border-left:1px solid gray; border-right:2px solid black; 
                border-top:1px solid gray; border-bottom:2px solid black;  }
            
*.text-indent { text-indent:60px; }