*.border        { border-left:1px solid gray; border-right:2px solid black; 
                  border-top:1px solid gray; border-bottom:2px solid black; 
                  background-color:gold; }

*.medium        { width:150px; }

*.popup-trigger { position:relative; }

*.popup         { position:absolute; left:0; top:1em; z-index:1; 
                  padding:5px; text-align:center; } 

*.popup-trigger *.popup { visibility:hidden;  }


