body { margin:0px; padding:20px; padding-top:0px; width:680px; 
       font-family:verdana,arial,sans-serif; font-size:18px; }
h1   { margin:0; margin-top:10px; margin-bottom:10px; font-size:30px;  }
h2   { margin:0; font-weight:normal; font-size:1em; }
h3   { margin:0; font-weight:normal; font-size:1em; }
h4   { margin:0; font-weight:normal; font-size:1em; }