body { margin:10px; margin-left:70px; padding:0px; width:662px;
       font-family:verdana,arial,sans-serif; font-size:16px; }
h1 { margin-left:-60px; margin-top:0px; margin-bottom:10px; font-size:30px; }
