body { font-family:"Century Gothic",verdana,arial,sans-serif;
       font-size:20px; line-height:150%;
       margin:1em; border:4px double black; padding:0.25em; 
       background-image:url("gradient.gif"); background-repeat:repeat-x; }
p    { margin:0; }
span { font-weight:900; }
