*.elegant  { margin-left:40px; margin-right:80px; 
             margin-top:30px; margin-bottom:30px; 
             padding-top:25px; padding-bottom:25px; 
             letter-spacing:1px; 
             word-spacing:2px; 
             line-height:1.7em; 
             text-indent:40px;
             text-align:justify; 
             border-top:1px solid black; border-bottom:1px solid black; }
