body { margin:10px 20px; padding:0px; width:700px;
       font-family:verdana,arial,sans-serif; font-size:16px; }
h1 { margin-top:0px; margin-bottom:0px; font-size:30px; }
h2 { margin-top:15px; margin-bottom:3px; font-size:20px; font-weight:normal; font-style:italic; }