body { margin:10px; 
       font-family:verdana,arial,sans-serif; font-size:medium; }
h1   { margin:0; font-size:30px;  }
h2   { margin:20px 0 1px 0; font-size:medium; font-style:italic; font-weight:normal; }
p    { margin:10px; }  
