p      { margin:0; padding:5px; background-color:gold; text-align:center;
         border-left:1px solid gray; border-right:2px solid black; 
         border-top:1px solid gray; border-bottom:2px solid black;}

*.hr   { height:40px; width:200px; 
         margin:0 auto 0 auto; 
         border:0;
         background:url("hr.gif") repeat-x left center; 
         line-height:1px; font-size:1px; }

*.hr hr { display:none; }
