body { margin:0px; padding:20px; padding-top:0px; width:680px; 
       font-family:verdana,arial,sans-serif; font-size:18px; }
h1   { margin:0; margin-top:10px; margin-bottom:20px; font-size:30px;  }
h2   { margin-top:20px; margin-bottom:3px; font-size:20px; font-weight:normal; font-style:italic; }