body { margin:10px; margin-left:20px; padding:0px; width:702px;
       font-family:verdana,arial,sans-serif; font-size:16px; }
h1 { margin-left:0; margin-top:0px; margin-bottom:10px; font-size:30px; }
